<div class="container">
  <%= form_tag(search_path, :method => "get", id: "search-form") do %>
	<%= text_field_tag :search, params[:search], placeholder: "Search Posts" %>
	<%= submit_tag "Search" %>
  <% end %>

  <h2>Schedule</h2>        
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Time</th>
        <th>Game</th>
        <th>Category</th>
        <th>Duration</th>
      </tr>
    </thead>
    <tbody>
    <% @schedule.each do |s| %>
	  <tr>
        <td><%= s.time %></td>
        <td><%= s.game %></td>
        <td><%= s.category %></td>
        <td><%= s.duration %></td>
      </tr>
	<% end %>
    </tbody>
  </table>
</div>